@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.letsGo{
  font-family: 'Jua', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
}
.letsGo:hover{
  color: #6eddf3;
}

.pigBox{
  border: 2px solid #6eddf3;
  margin-top: 10px;
  border-radius: 20px;
}

.knowPig{
  font-family: 'Jua', sans-serif;
  font-weight: 600;
}

.knowPig p{
  font-size: 1.2rem;
}

.excman{
  font-family: 'Jua', sans-serif;
  font-size: 1.2rem;
}
